/* STYLES.CSS */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}
main {
    flex: 1;
    margin-top: 6em;
    margin-bottom: 1em;
}
.bee-hidden {
    display: none
}

.ui.cards>.crud-card-portail {
    width: 160px;
}
.ui.cards>.crud-card-view {
    width: 360px;
}
.ui.cards>.crud-card-view.crud-card-view2 {
    width: 100%;
}
.crud-cell-nowrap {
    white-space: nowrap;
}

.ui.link.message {
    cursor: pointer;
}
.ui.cards>.link {
    cursor: pointer;
}
pre {
    font-size: 0.9em;
}
/* TABLE(tr) LIST-IMAGE(card) LIST(message) selected*/
tr.crud-list-selected, 
.ui.cards>.crud-list-selected, 
.ui.message.crud-list-selected {
    -webkit-box-shadow: 0 0 0 1px #767676, 0 2px 0 0 #767676, 0 1px 3px 0 #767676;
     box-shadow: 0 0 0 1px #767676, 0 2px 0 0 #767676, 0 1px 3px 0 #767676;
}
.ui.cards>.crud-gondole {
    background-color: lavender;
}

/* tablesort */
th.sorted.ascending:after {
	content: "  \2191";
}

th.sorted.descending:after {
	content: " \2193";
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.compact.message {
    margin: 0.5em;
    padding: 0.5em 1em;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }
  
/* Mobile */
@media only screen and (max-width: 767px) {
    .crud-mobile-hide {
        display: none !important;
    }
}  
@media only screen and (min-width: 768px) {
    .crud-mobile-show {
        display: none !important;
    }
    /* .ui.form {
        width: 520px;
    } */
    
}  
