/* STYLES.CSS */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}
main {
    flex: 1;
    margin-top: 6em;
    margin-bottom: 1em;
}
.bee-hidden {
    display: none
}

.ui.cards>.crud-card-portail {
    width: 160px;
}
.ui.cards>.crud-card-view {
    width: 360px;
}
.ui.cards>.crud-list-selected {
    background-color: seashell
}
.ui.container>.crud-list-selected {
    background-color: seashell
}
.crud-cell-nowrap {
    white-space: nowrap;
}

.ui.link.message {
    cursor: pointer;
}
.ui.cards>.link {
    cursor: pointer;
}
pre {
    font-size: 0.9em;
}
.crud-list-selected {
    background-color: seashell
}

/* tablesort */
th.sorted.ascending:after {
	content: "  \2191";
}

th.sorted.descending:after {
	content: " \2193";
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .crud-mobile-hide {
        display: none !important;
    }
}  
@media only screen and (min-width: 768px) {
    .crud-mobile-show {
        display: none !important;
    }
    .ui.form {
        width: 520px;
    }
    
}  
