/* STYLES.CSS */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}
main {
    flex: 1;
    margin-top: 6em;
    margin-bottom: 1em;
}
.bee-hidden {
    display: none
}

.ui.cards>.crud-card-portail {
    width: 160px;
}
.ui.cards>.crud-card-view {
    width: 360px;
}
.ui.form {
    width: 360px;
}
.crud-cell-nowrap {
    white-space: nowrap;
}
.ui.link.message {
    cursor: pointer;
}
/* Mobile */

@media only screen and (max-width: 767px) {
    .bee-mobile-hide {
        display: none;
    }
}  
