/* STYLES.CSS */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #DADADA;
}
main {
    flex: 1;
    margin-top: 6em;
    margin-bottom: 1em;
}
.bee-hidden {
    display: none
}

.ui.cards>.crud-card-portail {
    width: 160px;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    .bee-mobile-hide {
        display: none;
    }
}  
