<!-- VUE TABLE -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$theme := .Config.Theme}}
{{$tableid := .UIView.TableID}}
{{$viewid := .UIView.ViewID}}
{{$table := .UIView.Table}}
{{$tablekey := .UIView.Table.Setting.Key}}
{{$view := .UIView.View}}
{{$elements := .UIView.Elements}}
{{$cols := .UIView.Cols}}
{{$records := .UIView.Records}}
{{$qrecords := .UIView.Qrecords}}
{{$sortid := .UIView.SortID}}
{{$sortdirection := .UIView.SortDirection}}
{{$sum := .UIView.Sum}}
<table
class="ui unstackable collapsing sortable {{if or $view.FormView $view.FormEdit}}selectable{{end}} celled table"
data-role="table" data-mode="columntoggle" data-app="{{$appid}}" data-table="{{$tableid}}" data-view="{{$viewid}}">
<thead>
  <!-- ENTETE TABLE -->
  <tr class="crud-unsort">
    {{if $view.WithLineNumber}}<th>&nbsp;</th>{{end}}
    {{ range $num, $key := $cols }}
    {{ $element := index $elements $key }}
    {{if (ne $element.Hide true)}}
    <th id="col_{{$key}}"
      class="ui {{$element.ColAlign}} aligned{{if $element.HideOnMobile}} crud-mobile-hide{{end}}{{if (eq $sortid $key)}} sorted {{$sortdirection}}{{end}} crud-ajax-sort" title="{{$key}}">
      {{$element.LabelShort}}
    </th>
    {{end}}
    <!-- end if Hide -->
    {{end}}
    <!-- end loop $cols -->
  </tr>
</thead>
<tbody>
  <!-- LOOP $RECORD -->
  {{ range $irecord, $record := $records }}
  {{ $id := index $record $tablekey}}
  <tr {{if or $view.FormView $view.Deletable}}
    class="crud-jquery-url {{CrudMacroSQL $view.ClassSqlite $appid $record $session}}"
    style="{{CrudMacroSQL $view.StyleSqlite $appid $record $session}}"
    data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$id}}" 
    {{else if $view.FormEdit }}
    class="crud-jquery-url {{CrudMacroSQL $view.ClassSqlite $appid $record $session}}"
    style="{{CrudMacroSQL $view.StyleSqlite $appid $record $session}}"
    data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{$id}}" 
    {{else}}
    class="{{CrudMacroSQL $view.ClassSqlite $appid $record $session}}"
    style="{{CrudMacroSQL $view.StyleSqlite $appid $record $session}}"
    {{end}}>
    {{if $view.WithLineNumber}}<td class="right aligned">{{CrudIncrement $irecord}}</td>{{end}}
    {{ range $num, $key := $cols }}
    {{ $element := index $elements $key }}
    {{ $class := CrudClassSqlite $element $appid $record $session}}
    {{ $style := CrudStyleSqlite $element $appid $record $session}}
    {{ $val := CrudIndexSQL $record $key $element $session}}
    {{if (ne $element.Hide true)}}
    <td {{if $element.ColNoWrap}}nowrap{{end}}
      class="ui {{$element.ColAlign}} aligned{{if $element.HideOnMobile}} crud-mobile-hide{{end}}" style="{{$style}}">
      {{if (eq $element.Type "button")}}
      <a class="crud-jquery-ajax"
      data-url="/bee/actionx/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$id}}/{{$key}}" title="{{$element.LabelLong}}">
      {{if $element.IconName}}<i class="{{$class}} {{$element.IconName}} icon"></i>{{end}}
      </a>
      {{else if (eq $element.Type "list")}}
      <!-- list -->
      {{CrudItem $element.Items $val}}
      {{else if (eq $element.Type "checkbox")}}
      <!-- checkbox -->
      {{if (eq $val "1")}}<i class="check icon"></i>{{end}}
      {{else if (eq $element.Type "password")}}
      <!-- password -->
      ***
      {{else if (eq $element.Type "radio")}}
      {{CrudItem $element.Items $val}}
      {{else if (eq $element.Type "tag")}}
      <!--   tag -->
      {{$arr := CrudSplit $val ","}}
      {{range $i, $item := $arr}}
      <div class="ui small label" style="margin-bottom: 0.5em">{{CrudItem $element.Items $item}}</div>
      {{end}}
      {{else}}
      <!-- autres -->
      {{if and $element.Format $val}}
      {{CrudFormat $element.Format $val}}
      {{else if and $element.FormatSqlite $val}}
      {{CrudMacroSQL $element.FormatSqlite $appid $record $session}}
      {{else}}
      {{$val}}
      {{end}}
      {{end}}
    </td>
    {{end}}
    <!-- end if Hide -->
    {{end}}
    <!-- end loop $cols -->
  </tr>
  {{end}}
  <!-- fin loop $records -->
</tbody>
<!-- footer avec les sum -->
{{if and $view.WithSum (ne $qrecords 0)}}
{{$record := index $records 0}}
<tfoot>
<tr class="">
{{if $view.WithLineNumber}}<td>&nbsp;</td>{{end}}
{{ range $num, $key := $cols }}
  {{ $element := index $elements $key }}
  {{if (ne $element.Hide true)}}
    {{if $element.WithSum}}
      {{$val := index $sum $key}}
      <td style="{{if lt $val 0.0}}color: red{{else}}color: green{{end}}">
        {{if and $element.Format $val}}
        {{CrudFormat $element.Format $val}}
        {{else}}
        {{$val}}
        {{end}}
      </td>
    {{else}}
      <td></td>
    {{end}}<!--end withsum-->
  {{end}}<!--end hide-->
{{end}}<!--end range-->
</tr>
</tfoot>  
{{end}}<!--end if withsum-->
</table>
