<!-- _crud_head.html -->
<!-- https://github.com/gokulkrishh/awesome-meta-and-manifest -->
<head>
    <meta charset="utf-8">
    <title>{{.Portail.Title}}</title>
    <meta name="description" content="{{.Portail.Info}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="72x72" href="{{.Portail.IconFile}}?v={{.Config.Version}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{.Portail.IconFile}}?v={{.Config.Version}}">
    <link rel="apple-touch-icon" href="{{.Portail.IconFile}}?v={{.Config.Version}}">
    <link rel="apple-touch-startup-image" href="{{.Portail.IconFile}}?v={{.Config.Version}}">

    <link rel="icon" type="image/png" href="{{.Portail.IconFile}}?v={{.Config.Version}}" />
    <link rel="shortcut icon" sizes="196x196" href="{{.Portail.IconFile}}?v={{.Config.Version}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.css">
    <!-- Custom CSS -->
    <link href="/crud/static/css/crud_styles.css?v={{.Config.Version}}" rel="stylesheet">
</head>