<!-- _crud_foot.html -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- https://fomantic-ui.com/introduction/getting-started.html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
<!-- https://github.com/js-cookie/js-cookie -->
<script defer type="module" src="/bee/static/js/js.cookie.min.js"></script>
<!-- CodeMirror https://codemirror.net/doc/manual.html -->
<script defer src="/bee/static/codemirror/lib/codemirror.js"></script>
<script defer src="/bee/static/codemirror/addon/mode/overlay.js"></script>
<script defer src="/bee/static/codemirror/mode/markdown/markdown.js"></script>
<script defer src="/bee/static/codemirror/mode/gfm/gfm.js"></script>
<script defer src="/bee/static/codemirror/mode/yaml/yaml.js"></script>
<script defer src="/bee/static/codemirror/mode/yaml-frontmatter/yaml-frontmatter.js"></script>
<script defer src="/bee/static/codemirror/addon/comment/comment.js"></script>
<script defer src="/bee/static/codemirror/addon/hint/show-hint.js"></script>
<script defer src="/bee/static/codemirror/addon/hint/eddy-hint.js"></script>
<!-- ImageEditor https://github.com/scaleflex/filerobot-image-editor -->
<script src="https://cdn.scaleflex.it/plugins/filerobot-image-editor/3.12.2/filerobot-image-editor.min.js"></script>
<!-- Chart.js  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0-beta.7/chart.js"></script>
<!-- Custom -->
<script defer src="/bee/static/js/eddy.js"></script>
<script defer src="/bee/static/js/bee_script.js?v={{.Config.Version}}"></script>
<script defer src="/bee/static/js/bee_chart.js?v={{.Config.Version}}"></script>
