<!-- VUE TABLE -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$theme := .Config.Theme}}
{{$tableid := .UIView.TableID}}
{{$viewid := .UIView.ViewID}}
{{$table := .UIView.Table}}
{{$tablekey := .UIView.Table.Setting.Key}}
{{$view := .UIView.View}}
{{$elements := .UIView.Elements}}
{{$cols := .UIView.Cols}}
{{$records := .UIView.Records}}
{{$qrecords := .UIView.Qrecords}}
{{$sortid := .UIView.SortID}}
{{$sortdirection := .UIView.SortDirection}}
<table
class="ui compact unstackable collapsing sortable {{if or $view.FormView $view.FormEdit}}selectable{{end}} large table" data-role="table" data-mode="columntoggle" data-app="{{$appid}}" data-table="{{$tableid}}" data-view="{{$viewid}}" style="min-width: 600px">
<tbody>
  <!-- LOOP $RECORD -->
  {{ range $irecord, $record := $records }}
  {{ $id := index $record $tablekey}}
  <tr {{if or $view.FormView $view.Deletable}}
    class="crud-jquery-url {{CrudMacroSQL $view.ClassSqlite $appid $record $session}}"
    style="{{CrudMacroSQL $view.StyleSqlite $appid $record $session}}"
    data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$id}}" 
    {{else if $view.FormEdit }}
    class="crud-jquery-url {{CrudMacroSQL $view.ClassSqlite $appid $record $session}}"
    style="{{CrudMacroSQL $view.StyleSqlite $appid $record $session}}"
    data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{$id}}" 
    {{else}}
    class="{{CrudMacroSQL $view.ClassSqlite $appid $record $session}}"
    style="{{CrudMacroSQL $view.StyleSqlite $appid $record $session}}"
    {{end}}>
    {{ if $view.Smart.First}}
      {{range $im, $key := $view.Smart.First}}
      <td class="center aligned" style="width: 60px">
        {{ $element := index $elements $key }}
        {{ $class := CrudMacroSQL $element.ClassSqlite $appid $record $session}}
        {{ $style := CrudStyleSqlite $element $appid $record $session}}
        {{ $val := CrudIndex $record $key}}
        {{if (eq $element.Type "button")}}
        <a class="crud-jquery-ajax"
        data-url="/bee/actionx/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$id}}/{{$key}}" title="{{$element.LabelLong}}">
        {{if $element.IconName}}<i class="{{$class}} {{$element.IconName}} icon"></i>{{end}}
        </a>
        {{else if (eq $element.Type "list")}}
        <!-- list -->
        {{CrudItem $element.Items $val}}
        {{else if (eq $element.Type "checkbox")}}
        <!-- checkbox -->
        {{if (eq $val "1")}}<i class="check icon"></i>{{end}}
        {{else}}
        <!-- autres -->
        {{if and $element.Format $val}}
        {{CrudFormat $element.Format $val}}
        {{else if and $element.FormatSqlite $val}}
        {{CrudMacroSQL $element.FormatSqlite $appid $record $session}}
        {{else}}
        {{$val}}
        {{end}}<!-- end if format -->
        {{end}}<!-- end if type -->
      </td>
      {{end}} <!-- end range -->
    {{end}}<!-- end if -->
    {{ if $view.Smart.Left}}
    <td class="left aligned" style="min-width: 200px">
      {{range $im, $key := $view.Smart.Left}}
        {{ $element := index $elements $key }}
        {{ $class := CrudMacroSQL $element.ClassSqlite $appid $record $session}}
        {{ $style := CrudStyleSqlite $element $appid $record $session}}
        {{ $val := CrudIndex $record $key}}
        {{if (eq $element.Type "list")}}
        <!-- list -->
        <div class="{{$class}}" style="{{$style}}">{{CrudItem $element.Items $val}}</div>
        {{else if (eq $element.Type "checkbox")}}
        <!-- checkbox -->
        <div class="{{$class}}" style="{{$style}}">{{if (eq $val "1")}}<i class="check icon"></i>{{end}}</div>
        {{else if (eq $element.Type "radio")}}
        <!--   radio -->
        <div class="{{$class}}" style="{{$style}}">{{CrudItem $element.Items $val}}</div>
        {{else if (eq $element.Type "tag")}}
        <!--   tag -->
        {{$arr := CrudSplit $val ","}}
        {{range $i, $item := $arr}}
        <div class="ui horizontal label" style="margin-bottom: 0.5em">{{CrudItem $element.Items $item}}</div>
        {{end}}
        {{else}}
        <!-- autres -->
        {{if and $element.Format $val}}
        <div class="{{$class}}" style="{{$style}}">{{CrudFormat $element.Format $val}}</div>
        {{else if and $element.FormatSqlite $val}}
        <div class="{{$class}}" style="{{$style}}">{{CrudMacroSQL $element.FormatSqlite $appid $record $session}}</div>
        {{else}}
        <div class="{{$class}}" style="{{$style}}">{{$val}}</div>
        {{end}}<!-- end if format -->
        {{end}}<!-- end if type -->
      {{end}} <!-- end range -->
    </td>
    {{end}}<!-- end if -->
    {{ if $view.Smart.Right}}
    <td class="right aligned" style="min-width: 200px">
      {{range $im, $key := $view.Smart.Right}}
        {{ $element := index $elements $key }}
        {{ $class := CrudMacroSQL $element.ClassSqlite $appid $record $session}}
        {{ $style := CrudStyleSqlite $element $appid $record $session}}
        {{ $val := CrudIndex $record $key}}
        {{if (eq $element.Type "list")}}
        <!-- list -->
        <div class="{{$class}}" style="{{$style}}">{{CrudItem $element.Items $val}}</div>
        {{else if (eq $element.Type "checkbox")}}
        <!-- checkbox -->
        <div class="{{$class}}" style="{{$style}}">{{if (eq $val "1")}}<i class="check icon"></i>{{end}}</div>
        {{else if (eq $element.Type "radio")}}
        <div class="{{$class}}" style="{{$style}}">{{CrudItem $element.Items $val}}</div>
        {{else if (eq $element.Type "tag")}}
        <!--   tag -->
        {{$arr := CrudSplit $val ","}}
        {{range $i, $item := $arr}}
        <div class="ui horizontal label" style="margin-bottom: 0.5em">{{CrudItem $element.Items $item}}</div>
        {{end}}
        {{else}}
        <!-- autres -->
        {{if and $element.Format $val}}
        <div class="{{$class}}" style="{{$style}}">{{CrudFormat $element.Format $val}}</div>
        {{else if and $element.FormatSqlite $val}}
        <div class="{{$class}}" style="{{$style}}">{{CrudMacroSQL $element.FormatSqlite $appid $record $session}}</div>
        {{else}}
        <div class="{{$class}}" style="{{$style}}">{{$val}}</div>
        {{end}}<!-- end if format -->
        {{end}}<!-- end if type -->
      {{end}}<!-- end range -->
    </td>
    {{end}}<!-- end if -->
    {{ if $view.Smart.Last}}
      {{range $im, $key := $view.Smart.Last}}
      <td class="center aligned" style="width: 60px">
        {{ $element := index $elements $key }}
        {{ $class := CrudMacroSQL $element.ClassSqlite $appid $record $session}}
        {{ $style := CrudStyleSqlite $element $appid $record $session}}
        {{ $val := CrudIndex $record $key}}
        {{if (eq $element.Type "button")}}
        <a class="crud-jquery-ajax"
        data-url="/bee/actionx/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$id}}/{{$key}}" title="{{$element.LabelLong}}">
        {{if $element.IconName}}<i class="{{$class}} {{$element.IconName}} icon"></i>{{end}}
        </a>
        {{else if (eq $element.Type "list")}}
        <!-- list -->
        {{CrudItem $element.Items $val}}
        {{else if (eq $element.Type "checkbox")}}
        <!-- checkbox -->
        {{if (eq $val "1")}}<i class="check icon"></i>{{end}}
        {{else}}
        <!-- autres -->
        {{if and $element.Format $val}}
          {{CrudFormat $element.Format $val}}
        {{else if and $element.FormatSqlite $val}}
        {{CrudMacroSQL $element.FormatSqlite $appid $record $session}}
        {{else}}
        {{$val}}
        {{end}}<!-- end if format -->
        {{end}}<!-- end if type -->
      </td>
      {{end}} <!-- end range -->
    {{end}} <!-- end if -->
  </tr>
  {{end}} <!-- fin range $records -->
</tbody>
</table>
