<!-- vusers.html -->
{{$session := .Session}}
{{$aliasDB := .AliasDB}}
{{$from := .From}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$formid := .FormId}}
{{$id := .Id}}
{{$table := .Table}}
{{$view := .View}}
{{$form := .Form}}
{{$tablekey := .Table.Setting.Key}}
{{$coldisplay := .ColDisplay}}
{{$elements := .Elements}}
{{$cols := .Cols}}
{{$composter := .Composter}}
{{$script := DictCreate}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed borderless  menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/bee" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.Menu}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $menu := $app.Menu }}
            {{$t := index $app.Tables $menu.TableID }}
            {{$v := index $t.Views $menu.ViewID }}
            {{if (CrudIsInGroup $v.Group $session $appid)}}
          <a class="item{{if and (eq $menu.TableID $tableid) (eq $menu.ViewID $viewid)}} {{$theme}} active{{end}}"
            href="/bee/list/{{$appid}}/{{$menu.TableID}}/{{$menu.ViewID}}">
            <i class="{{$v.IconName}} {{$theme}} icon"></i>
              {{$v.Title}}
          </a>
            {{end}}
          <!-- end if isingroup -->
          {{end}}
          <!-- end range Menu-->
          {{if (CrudIsInGroup "dev" $session $appid)}}
          <div class="divider"></div>
          <a class="item eddy-window-open"
            data-url="/bee/eddy/document/{{$tableid}}.yaml" data-posx="right" target="{{$tableid}}"
            title="Editer le dictionnaire...">
            <i class="file code large brown icon"></i> {{$tableid}}.yaml</a>
          {{end}}
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          {{if not (CrudIsAnonymous $session)}}
          <a class="item" href="/bee/view/admin/users/vprofil/{{.Session.Username}}">Mon profil</a>
          {{end}}
          <a class="item" href="/bee/logout">Se déconnecter</a>
          <a href="/bee/about" class="item">À propos</a>
        </div>
      </div>
      <a href="{{$from}}" class="item" style="padding: 0.5em;">
        <i class="arrow left icon"></i>
      </a>
      <!-- RIGHT MENU -->
      <div class="right menu">
        {{ if (eq $form.HideSubmit false)}}
        <div class="item">
          <button class="ui labeled icon button crud-jquery-submit">
            <i class="check icon"></i>
            Enregistrer
          </button>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      <!-- FORMULAIRE -->
      <div class="ui attached icon message">
        <i class="{{if $form.IconName}}{{$form.IconName}}{{else}}{{$view.IconName}}{{end}} {{$theme}} inbox icon"></i>
        <div class="content">
          <div class="header">&nbsp;{{$form.Title}}</div>
        </div>
      </div>
  {{if (eq $id "")}}
  <!-- Formulaire d'Ajout ou d'Edition -->
<form class="ui form attached segment" id="beeForm" method="POST"
  action="/bee/add/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}">
  {{else}}
<form class="ui form attached segment" id="beeForm" method="POST"
  enctype="multipart/form-data"
  action="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}">
  {{end}}
  {{ .xsrfdata }}
  {{$card := false}}
  <!-- BOUCLE RECORDS -->
  {{ range $irecord, $record := .Records }}
<div class="ui form">
  {{ range $num, $key := $cols }}
  {{ $val := CrudIndex $record $key }}
  {{ $element := index $elements $key }}
  {{ $class := CrudClassSqlite $element $appid $record $session}}
  {{ $style := CrudStyleSqlite $element $appid $record $session}}
  {{ $type := $element.Type}}
{{ if $element.Hide }} 
<input type="hidden" name="{{$key}}" id="{{$key}}" value="{{$val}}">
{{ else }}
{{if (eq $type "card")}}
  {{ if $card}}</div>{{end}}
  <div class="fields">
    {{$card = true}}
{{else if (eq $type "action")}}
  {{if $element.Params.WithInput }}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <div class="ui action input">
      <input type="text" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{$val}}">
      <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
      data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
      {{$element.LabelLong}}
      </button>
    </div>
  </div>
  {{else if $element.Params.WithInputFile }}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <div class="ui action input">
      <input type="file" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{$val}}">
      <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
      data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
      {{$element.LabelLong}}
      </button>
    </div>
  </div>
  {{else}}
  <div class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
      data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
      {{$element.LabelLong}}
    </button>
  </div>
{{end}}
{{else if (eq $type "button")}}
  <div
  class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
  <label>&nbsp;</label>
  {{if $element.AjaxSQL}}
  <button class="ui primary button crud-ajax-sql"
  data-url="/bee/ajax/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$key}}"
    {{if $element.Dataset}}
      {{ $dataset := CrudComputeDataset $element.Dataset $appid $record $session $aliasDB}}
      {{ range $k, $v := $dataset }} data-{{$k}}="{{$v}}"{{end}}
    {{end}}
  >{{if $element.IconName}}<i class="{{$class}} {{$element.IconName}} icon"></i>{{end}}
  {{$element.LabelLong}}
  </button>
  {{else if $element.LabelLong}}
  <button class="ui primary button crud-jquery-action"
  data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
    {{if $element.IconName}}<i class="{{$class}} {{$element.IconName}} icon"></i>{{end}}
    {{$element.LabelLong}}
  </button>
  {{else}}
  <a class="ui icon basic compact button" id="{{$key}}">
  <i id="{{$key}}_icon" class=""></i>
  </a>
  {{end}}
  {{if $element.WithScript}}
    {{if $element.Dataset}}
      {{ $dataset := CrudComputeDataset $element.Dataset $appid $record $session $aliasDB}}
      {{ $scriptName := index $dataset "scriptname"}}
  <div class="{{$scriptName}}" {{ range $k, $v := $dataset }} data-{{$k}}="{{$v}}"{{end}}></div>
      {{ $script = DictSet $script $scriptName $scriptName}}
    {{end}}
  {{end}}
  {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "amount")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" step="0.01" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "list")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <select name="{{$key}}" id="{{$key}}" class="ui fluid search dropdown">
      <option value="">{{$element.PlaceHolder}}</option>
      {{range $num, $item := $element.Items}}
      <option value="{{$item.Key}}" {{if (eq $item.Key $val)}} selected="" {{end}}>
        {{$item.Label}}</option>
      {{end}}
    </select>
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "counter")}}
  <div class="disabled  bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" inputmode="numeric" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
  {{else if (eq $type "checkbox")}}
  <div
    class="inline {{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <div class="ui checkbox">
      <input type="checkbox" name="{{$key}}" id="{{$key}}" {{if(eq $val `1`)}} checked{{end}}>
      <label>{{$element.LabelLong}}</label>
      {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
    </div>
  </div>
  {{else if (eq $type "datetime")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="datetime-local" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{CrudFormat $element.Format $val}}">
      {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "float")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" inputmode="decimal" step="any" name="{{$key}}" id="{{$key}}"
      {{if $element.Pattern}} pattern="{{$element.Pattern}}"{{end}}
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "hidden")}}
  <input type="hidden" name="{{$key}}" value="{{$val}}">
{{else if (eq $type "image")}}
<div class="ui card raised bee-width-{{$element.Width}} {{$element.Class}}" >
  <div class="ui image">
    <img id="{{$key}}_img" src="{{$element.Params.URL}}?{{$composter}}">
  </div>
  <div class="content">
    <div class="center aligned description"><b>{{$element.LabelLong}}</b></div>
  </div>
  <div id="image-editor" class="ui bottom attached button crud-popup-image-editor"
  data-url="{{$element.Params.URL}}" data-key="{{$key}}">
    <i class="edit icon"></i>
    Lancer l'éditeur
  </div>
  <input type="hidden" id="{{$key}}" name="{{$key}}" value="">
</div>
{{else if (eq $type "number")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" inputmode="numeric" step="any" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "radio")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}}  inline fields {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    {{range $num, $item := $element.Items}}
    <div class="field">
    <div class="ui radio checkbox {{if (eq $val $item.Key)}}checked='checked'{{end}}">
      <input type="radio" name="{{$key}}" value="{{$item.Key}}" {{if (eq $val $item.Key)}}checked="checked" {{end}}>
      <label>{{$item.Label}}</label>
    </div>
    </div>
    {{end}}
  </div>
  {{if $element.Help}}<span class="ui small blue text meta">{{$element.Help}}</span>{{end}}
{{else if (eq $type "tag")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <select name="{{$key}}" id="{{$key}}" multiple="" class="ui fluid dropdown">
      <option value="">{{$element.PlaceHolder}}</option>
      {{range $num, $item := $element.Items}}
      <option value="{{$item.Key}}" {{if CrudContains $val $item.Key}} selected="" {{end}}>{{$item.Label}}
      </option>
      {{end}}
    </select>
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "textarea")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
      <label>{{$element.LabelLong}}</label>
      <textarea name="{{$key}}" id="{{$key}}">{{$val}}</textarea>
      {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "password")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="{{$type}}" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{if $val}}***{{end}}">
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else if (eq $type "percent")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" inputmode="decimal" step="any" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
    {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{else}}
  <!-- date email number tel text time url -->
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} bee-width-{{$element.Width}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="{{$type}}" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{CrudFormat $element.Format $val}}">
      {{if $element.Help}}<span class="ui small blue text">{{$element.Help}}</span>{{end}}
  </div>
{{end}}
  <!-- end if element.Type -->
{{end}}
  <!-- end if hide -->
{{end}}
  <!-- end range cols -->
{{end}}
{{ if $card }}</div>{{end}}
<!-- /END BOUCLE RECORDS -->
</div> <!-- end ui form -->
<input type="hidden" id="xsrf" value="{{.xsrf}}">
</form>
  </div> <!-- /container -->
</main>

<!-- Demande de confirmation de l'action' -->
<div id="crud-modal-confirm" class="ui tiny modal">
  <div class="header" id="crud-action">Texte à venir</div>
  <div class="content">
    <p>Veuillez le confirmer</p>
  </div>
  <div class="actions">
    <div class="ui cancel button">Annuler</div>
    <div class="ui approve button">Je confirme</div>
  </div>
</div> <!-- end modal confirm -->

{{template "_crud_foot.html" .}}
<!-- Insertion de script spécifique aux rubriques -->
{{range $k, $v := $script}}
<script defer src="/bee/dico/{{$appid}}/{{$k}}.js"></script>
{{end}}

</body>

</html>