<!-- vusers.html -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$composter := .Composter}}
{{$tableid := .UIView.TableID}}
{{$viewName := .UIView.ViewID}}
{{$table := .UIView.Table}}
{{$tablekey := .UIView.Table.Setting.Key}}
{{$view := .UIView.View}}
{{$elements := .UIView.Elements}}
{{$cols := .UIView.Cols}}
{{$qrecords := .UIView.Qrecords}}
{{$sortid := .UIView.SortID}}
{{$sortdirection := .UIView.SortDirection}}
{{$search := .UIView.Search}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed borderless  menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/bee" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.TablesViews}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $tableView := $app.TablesViews }}
          {{$t := index $portail.Tables $tableView.TableName }}
          {{$v := index $t.Views $tableView.ViewName }}
          {{if (CrudIsInGroup $v.Group $session)}}
          <a class="item{{if and (eq $tableView.TableName $tableid) (eq $tableView.ViewName $viewName)}} {{$theme}} active{{end}}{{if $v.HideOnMobile}} crud-mobile-hide{{end}}"
            href="/bee/list/{{$appid}}/{{$tableView.TableName}}/{{$tableView.ViewName}}">
            <i class="{{$v.IconName}} {{$theme}} icon"></i>
            {{$v.Title}}
          </a>
          {{end}}
          <!-- end if isingroup -->
          {{end}}
          <!-- end range tablesViews-->
          {{if (CrudIsInGroup "dev" $session)}}
          {{$eddy := index $portail.Applications "eddy" }}
          <div class="divider"></div>
          <a class="item eddy-window-open"
                  data-url="/bee/eddy/document/{{$tableid}}.yaml" data-posx="right" target="{{$tableid}}"
                  title="Editer le dictionnaire...">
                  <i class="file code large brown icon"></i> {{$tableid}}.yaml</a>
          {{end}}
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          <a class="item" href="/bee/view/admin/users/vprofil/{{.Session.Username}}">Mon profil</a>
          <a class="item" href="/bee/logout">Se déconnecter</a>
          <a href="/bee/about" class="item">À propos</a>
        </div>
      </div>
      <div class="header item" id="crud-header">
        <span class="crud-mobile-hide">
          {{$view.Title}}
          {{if (eq $qrecords 0)}}
          (auncun élément)
          {{else if (eq $qrecords 1)}}
          (1 élément)
          {{else}}
          ({{$qrecords}} éléments)
          {{end}}
        </span>
      </div>
      <!-- RIGHT MENU -->
      <div class="right menu">
        <div class="ui icon item">
          <i class="search link icon" id="crud-search-active" title="Rechercher..."></i>
          <!-- Recherche -->
          <div style="display: none" id="crud-search">
            <div class="ui icon input">
              <input type="text" id="search" data-url="/bee/list/{{$appid}}/{{$tableid}}/{{$viewName}}"
                value="{{$search}}" placeholder="Recherche...">
              <i class="circular search link icon" id="crud-search-go" title="Rechercher"></i>
            </div>
            <i class="close link icon" id="crud-search-close" title="Fermer recherche"></i>
          </div>
        </div>
        {{if or $view.Actions $view.FormAdd}}
        <div class="ui dropdown item">
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
            {{if $view.FormAdd}}
            <a class="ui icon item crud-jquery-url"
              data-url="/bee/add/{{$appid}}/{{$tableid}}/{{$viewName}}/{{$view.FormAdd}}">
              <i class="plus square icon"></i> Ajouter un élément...
            </a>
            {{end}}
            {{if $view.Actions}}
            {{if $view.FormAdd}}
            <div class="divider"></div>
            {{end}}
            {{range $iaction, $action := $view.Actions}}
            <a class="item crud-jquery-action" data-confirm="{{$action.WithConfirm}}"
              data-url="/bee/actionv/{{$appid}}/{{$tableid}}/{{$viewName}}/{{$iaction}}">{{str2html $action.Label}}</a>
            {{end}}
            <!-- end range actions-->
            {{end}}
            <!-- end if actions-->
          </div>
        </div>
        {{end}}
        <!-- end dropdown MENU à droite -->
      </div>
      <!-- end right menu -->
    </div>
  </div>
  <!-- MAIN -->
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      <!-- Title on Mobile -->
      <div class="crud-mobile-show ui label">
          {{$view.Title}}
          {{if (eq $qrecords 0)}}
          (auncun élément)
          {{else if (eq $qrecords 1)}}
          (1 élément)
          {{else}}
          ({{$qrecords}} éléments)
          {{end}}
      </div>
      <!-- LIST TABLE -->
      {{template "_crud_table.html" .}}
    </div>
  </main>
  <!-- Demande de confirmation de l'action' -->
  <div id="crud-modal-confirm" class="ui modal">
    <div class="header" id="crud-action">Texte à venir</div>
    <div class="content">
      <p>Veuillez le confirmer</p>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div> <!-- end modal confirm -->
  <!-- Affichage d'une image en popup-->
  <div id="crud-modal-image" class="ui basic modal">
    <div class="actions">
      <div class="ui cancel button">Fermer</div>
    </div>
    <div class="image content">
      <img id="crud-image" class="image center aligned" src="">
    </div>
  </div> <!-- end modal image -->

  <form method="POST" action="/bee/list/{{$appid}}/{{$tableid}}/{{$viewName}}">
    {{ .xsrfdata }}
    <input type="hidden" id="crud-form-search" name="search">
    <input type="hidden" id="crud-form-searchstop" name="searchstop">
    <input type="hidden" id="crud-form-sortid" name="sortid">
    <input type="hidden" id="crud-form-sortdirection" name="sortdirection">
  </form>
  <!-- CONTEXTE -->
  <input type="hidden" id="crud_view" value="{{$appid}}-{{$tableid}}-{{$viewName}}">
  {{template "_crud_foot.html" .}}
</body>

</html>