<!-- login.html -->
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <main>
    <div class="ui centered card" style="width: 320px">
      <div class="image" style="padding: 1em">
        <img src="{{.Config.Icone}}">
      </div>
      <div class="content">
        <div class="center aligned header">{{.Config.Appname}}</div>
        <div class="center aligned meta">Version {{.Config.Version}} du {{.Config.Date}}</div>
        <div class="center aligned meta">&copy; {{.Config.Author}}
        </div>
      </div>
      <div class="content">
        <form class="ui large form" action="/bee/login" method="POST">
          {{ .xsrfdata }}
          <div class="ui segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            {{if .flash.error}}
            <div class="ui visible error message">
              <div class="header">
                {{.flash.error}}
              </div>
            </div>
            {{end}}
            <button class="ui fluid large {{.Config.Theme}} submit button" type="submit">Se connecter</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <input type="hidden" id="xsrf" value="{{.xsrf}}">
  {{template "_crud_foot.html" .}}
</body>

</html>