<!-- vusers.html -->
{{$from := .From}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$formid := .FormId}}
{{$id := .Id}}
{{$table := .Table}}
{{$view := .View}}
{{$form := .Form}}
{{$tablekey := .Table.Key}}
{{$coldisplay := .ColDisplay}}
{{$elements := .Elements}}
{{$cols := .Cols}}
{{$composter := .Composter}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed borderless  menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/bee" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.AppViews}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $appView := $app.AppViews }}
          {{$t := index $portail.Tables $appView.Tableid }}
          {{$v := index $t.Views $appView.Viewid }}
          <a class="item{{if and (eq $appView.Tableid $tableid) (eq $appView.Viewid $viewid)}} {{$theme}} active{{end}}"
            href="/bee/list/{{$appid}}/{{$appView.Tableid}}/{{$appView.Viewid}}">
            <i class="{{$v.IconName}} icon"></i>
            {{$v.Title}}
          </a>
          {{end}}
          <!-- end range appViewq-->
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          <a class="item" href="/bee/edit/admin/users/vall/fprofil/{{.Session.Username}}">Mon profil</a>
          <a class="item" href="/bee/logout">Se déconnecter</a>
          <a href="/bee/about" class="item">À propos</a>
        </div>
      </div>
      <a href="{{$from}}" class="item" style="padding: 0.5em;">
        <i class="arrow left icon"></i>
      </a>
      <!-- RIGHT MENU -->
      <div class="right menu">
        {{ if (eq $form.HideSubmit false)}}
        <div class="item">
          <button class="ui labeled icon red button crud-jquery-submit">
            <i class="check icon"></i>
            Enregistrer
          </button>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      <!-- FORMULAIRE -->
      <div class="ui attached icon message">
        <i class="{{if $form.IconName}}{{$form.IconName}}{{else}}{{$view.IconName}}{{end}} icon"></i>
        <div class="header">
          {{$form.Title}}: {{$coldisplay}}
        </div>
      </div>
      {{if (eq $id "")}}
      <!-- Formulaire d'Ajout ou d'Edition -->
      <form class="ui form attached segment" id="beeForm" method="POST"
        action="/bee/add/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}">
        {{else}}
<form class="ui form attached segment" id="beeForm" method="POST"
  enctype="multipart/form-data"
  action="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}">
  {{end}}
  {{ .xsrfdata }}
  {{$section := false}}
  {{ range $irecord, $record := .Records }}
<div class="ui form">
  {{ range $num, $key := $cols }}
  {{ $val := CrudIndex $record $key }}
  {{ $element := index $elements $key }}
  {{ if (eq $element.Hide false) }}
{{if (eq $element.Type "section")}}
  {{ if $section}}</div>{{end}}
  <div class="fields">
    {{$section = true}}
{{else if (eq $element.Type "action")}}
  {{if $element.Params.WithInput }}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <div class="ui action input">
      <input type="text" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{$val}}">
      <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
      data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
      {{$element.LabelLong}}
      </button>
    </div>
  </div>
  {{else if $element.Params.WithInputFile }}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <div class="ui action input">
      <input type="file" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{$val}}">
      <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
      data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
      {{$element.LabelLong}}
      </button>
    </div>
  </div>
  {{else}}
  <div class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
      data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}/{{$key}}">
      {{$element.LabelLong}}
    </button>
  </div>
{{end}}
{{else if (eq $element.Type "button")}}
{{else if (eq $element.Type "amount")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="text" pattern="\$\d{1,3}(,\d{3})*(\.\d+)?$" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
  </div>
{{else if (eq $element.Type "combobox")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <select name="{{$key}}" id="{{$key}}" class="ui fluid search dropdown">
      <option value="">{{$element.PlaceHolder}}</option>
      {{range $num, $item := $element.Items}}
      <option value="{{$item.Key}}" {{if (eq $item.Key $val)}} selected="" {{end}}>
        {{$item.Label}} ({{$item.Key}})</option>
      {{end}}
    </select>
  </div>
{{else if (eq $element.Type "counter")}}
  <div class="disabled  {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
  </div>
{{else if (eq $element.Type "checkbox")}}
  <div
    class="inline {{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <div class="ui checkbox">
      <input type="checkbox" name="{{$key}}" id="{{$key}}" {{if(eq $val `1`)}} checked{{end}}>
      <label>{{$element.LabelLong}}</label>
    </div>
  </div>
{{else if (eq $element.Type "datetime")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <div class="ui calendar" id="standard_calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" name="{{$key}}" id="{{$key}}"
          {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
      </div>
    </div>
  </div>
{{else if (eq $element.Type "markdown")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
      <label>{{$element.LabelLong}}</label>
      <textarea id="codemirror-markdown" name="{{$key}}" id="{{$key}}">{{$val}}</textarea>
  </div>
{{else if (eq $element.Type "float")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" step="any" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
  </div>
{{else if (eq $element.Type "hidden")}}
  <input type="hidden" name="{{$key}}" value="{{$val}}">
{{else if (eq $element.Type "image")}}
<div class="ui card raised crud-card-view2 {{$element.Class}}" >
  <div class="ui image">
    <img id="{{$key}}_img" src="{{$element.Params.URL}}?{{$composter}}">
  </div>
  <div class="content">
    <div class="center aligned description"><b>{{$element.LabelLong}}</b></div>
  </div>
  <div id="image-editor" class="ui bottom attached button crud-popup-image-editor"
  data-url="{{$element.Params.URL}}" data-key="{{$key}}">
    <i class="edit icon"></i>
    Lancer l'éditeur
  </div>
  <input type="hidden" id="{{$key}}" name="{{$key}}" value="">
</div>
{{else if (eq $element.Type "radio")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}inline  {{$element.Grid}}  fields {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    {{ $items := CrudSplit $element.Items ","}}
    {{range $num, $item := $items}}
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="{{$key}}" value="{{$item}}" {{if (eq $val $item)}}checked="checked" {{end}}>
        <label>{{$item}}</label>
      </div>
    </div>
    {{end}}
  </div>
{{else if (eq $element.Type "tag")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <select name="{{$key}}" id="{{$key}}" multiple="" class="ui fluid dropdown">
      <option value="">{{$element.PlaceHolder}}</option>
      {{range $num, $item := $element.Items}}
      <option value="{{$item.Key}}" {{if CrudContains $val $item.Key}} selected="" {{end}}>{{$item.Label}}
      </option>
      {{end}}
    </select>
  </div>
{{else if (eq $element.Type "textarea")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
      <label>{{$element.LabelLong}}</label>
      <textarea name="{{$key}}" id="{{$key}}">{{$val}}</textarea>
  </div>
{{else if (eq $element.Type "password")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="{{$element.Type}}" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{if $val}}***{{end}}">
  </div>
{{else if (eq $element.Type "percent")}}
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="number" step="any" name="{{$key}}" id="{{$key}}"
      {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
  </div>
{{else}}
  <!-- date email month number tel text time url week -->
  <div
    class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}} {{$element.Grid}} field {{$element.Error}}">
    <label>{{$element.LabelLong}}</label>
    <input type="{{$element.Type}}" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
      placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
      {{end}} value="{{$val}}">
  </div>
{{end}}
  <!-- end if element.Type -->
{{end}}
  <!-- end if hide -->
{{end}}
  <!-- end range cols -->
{{end}}
{{ if $section }}</div>{{end}}
<!-- end range records -->
</div> <!-- end ui form -->
</form>
  </div> <!-- /container -->
</main>

<!-- Demande de confirmation de l'action' -->
<div id="crud-modal-confirm" class="ui modal">
  <div class="header" id="crud-action">Texte à venir</div>
  <div class="content">
    <p>Veuillez le confirmer</p>
  </div>
  <div class="actions">
    <div class="ui cancel button">Annuler</div>
    <div class="ui approve button">Je confirme</div>
  </div>
</div> <!-- end modal confirm -->

{{template "_crud_foot.html" .}}
</body>

</html>