<!-- vusers.html -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$formid := .FormId}}
{{$table := .Table}}
{{$view := .View}}
{{$form := .FormView}}
{{$formviewid := .FormViewId}}
{{$id := .Id}}
{{$tablekey := .Table.Key}}
{{$coldisplay := .ColDisplay}}
{{$elements := .Elements}}
{{$cols := .Cols}}
{{$composter := .Composter}}
{{$xsrfdata := .xsrfdata}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{$theme}} inverted large fixed borderless  menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/bee" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.AppViews}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $appView := $app.AppViews }}
          {{$t := index $portail.Tables $appView.Tableid }}
          {{$v := index $t.Views $appView.Viewid }}
          <a class="item{{if and (eq $appView.Tableid $tableid) (eq $appView.Viewid $viewid)}} {{$theme}} active{{end}}"
            href="/bee/list/{{$appid}}/{{$appView.Tableid}}/{{$appView.Viewid}}">
            <i class="{{$v.IconName}} icon"></i>
            {{$v.Title}}
          </a>
          {{end}}
          <!-- end range appViewq-->
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          <a class="item" href="/bee/edit/admin/users/vall/fprofil/{{.Session.Username}}">Mon profil</a>
          <a class="item" href="/bee/logout">Se déconnecter</a>
          <a href="/bee/about" class="item">À propos</a>
        </div>
      </div>
      <a href="/bee/list/{{$appid}}/{{$tableid}}/{{$viewid}}" class="item" style="padding: 0.5em;">
        <i class="arrow left icon"></i>
      </a>
      <div class="header item">{{$form.Title}}</div>
      <!-- RIGHT MENU -->
      <div class="right menu">
        {{if or $form.Actions $view.Deletable}}
        <div class="ui dropdown item">
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
            {{if $view.Deletable}}
            <!-- On ne peut supprimer que si la vue possède un formulaire d'ajout avec les droits d'accès-->
            <a class="ui icon item crud-jquery-delete">
              <i class="trash icon"></i> Supprimer cet enregistrement...
            </a>
            {{end}}
            {{range $iaction, $action := $form.Actions}}
            {{if not $action.Hide}}
            <a class="item crud-jquery-action" data-confirm="{{$action.WithConfirm}}"
              data-url="/bee/actionf/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$id}}/{{$iaction}}">{{str2html $action.Label}}</a>
            {{end}}
            {{end}}
            <!-- end range actions-->
          </div>
        </div>
        {{end}}
        <!-- end if actions-->
      </div>
    </div>
  </div>
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      <!-- LIST CARD -->
      <div class="ui cards">
        {{ $isStart := true}}
        {{ range $irecord, $record := .Records }}
        <!-- pour mémoriser le hide dans une section -->
        {{ $isSectionHide := false}}

        {{ range $num, $key := $cols }}
        {{ $val := CrudIndex $record $key }}
        {{ $element := index $elements $key }}
        {{if and (eq $isSectionHide true) (eq $element.Hide false) (or (eq $element.Type "section") (eq $element.Type "image") (eq $element.Type "pdf"))}}
        {{$isSectionHide = false}}
        <!-- les champs de la section seront affichés -->
        {{end}}
        {{if and (eq $element.Hide true) (or (eq $element.Type "section") (eq $element.Type "image") (eq $element.Type "pdf"))}}
        {{$isSectionHide = true}}
        <!-- les champs de la section ne seront pas affichés -->
        {{end}}

        {{if and (eq $element.Hide false) (eq $isSectionHide false)}}
        <!-- 1ère section automatique si le 1er élement n'est pas une section-->
        {{if and $isStart (ne $element.Type "section")}}
        {{if $view.FormEdit}}
        <div class="link card raised crud-card-view {{$element.Class}} crud-jquery-url"
          data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}">
          {{else}}
          <div class="card raised crud-card-view {{$element.Class}}">
            {{end}}
            <div class="content">
              <div class="ui right floated">
                <i class="big {{$theme}} {{$view.IconName}} icon"></i>
              </div>
              <div class="header">
                <h4>{{$form.Title}}</h4>
              </div>
              {{ $isStart = false}}
              {{end}}
              <!-- Affichage de l'élément -->
              {{if (eq $element.Type "section")}}
              <!-- SECTION ********************* -->
              {{if not $isStart}}
              <!-- Fermeture de la card et ouverture d'une autre -->
            </div> <!-- end content card -->
          </div> <!-- end card -->
          {{end}}
          {{ $isStart = false}}
          {{if $element.Params.Form}}
          <div class="link card raised crud-card-view {{$element.Class}} crud-jquery-url"
            data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$element.Params.Form}}/{{$id}}">
          {{else if $element.Params.URL}}
          <div class="link card raised crud-card-view {{$element.Class}} crud-jquery-url"
            data-url="{{$element.Params.URL}}">
          {{else}}
            <div class="card raised crud-card-view {{$element.Class}}">
              {{end}}
              <div class="content">
                <div class="ui right floated">
                  <i class="big {{$theme}} {{$element.Params.IconName}} icon"></i>
                </div>
                <div class="header">
                  <h4>{{$element.LabelLong}}</h4>
                </div>
                <!-- ***************** SECTION -->
                <!-- DEBUT type -->
                {{else if (eq $element.Type "action")}}
                <button class="ui {{$theme}} button crud-jquery-action" data-confirm="{{$element.Params.WithConfirm}}"
                  data-url="/bee/actione/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formviewid}}/{{$id}}/{{$key}}">
                  {{$element.LabelLong}}
                </button>
                {{else if (eq $element.Type "button")}}
                <button class="ui {{$theme}} button crud-jquery-button" data-url="{{$element.Params.URL}}">
                  {{$element.LabelLong}}
                </button>
                {{else if (eq $element.Type "combobox")}}
                <div class="description">
                  <div class="meta">
                    <span>{{$element.LabelLong}}</span>
                  </div>
                </div>
                <div class="header">
                  <span class="ui medium {{$element.Class}} text">{{CrudItem $element.Items $val}} ({{$val}})</span>
                </div>
                {{else if (eq $element.Type "checkbox")}}
                <div class="description">&nbsp;</div>
                <div class="header">
                  <h4>
                    {{if (eq $val "1") }}
                    <i class="check square outline icon"></i> {{$element.LabelLong}}
                    {{else}}
                    <i class="square outline icon"></i> {{$element.LabelLong}}
                    {{end}}
                  </h4>
                </div>
                {{else if or (eq $element.Type "image") (eq $element.Type "pdf")}}
                {{$url := CrudMacro $element.Params.Path $record $session}}
                <!-- Fermeture de la card et ouverture d'une autre -->
              </div> <!-- end content card -->
            </div> <!-- end card -->
          </div> <!-- end cards -->
          <div class="ui cards">
            <div class="card raised crud-card-view crud-card-view2 {{$element.Class}}" >
              {{if $element.Dataset}}
              <a class="crud-popup-chart">
              <canvas class="ui link {{$element.Dataset.ClassJquery}}" style="background-color: white" 
              {{ range $key, $value := $element.Dataset }} data-{{$key}}="{{$value}}"{{end}}>
              </canvas>
              </a>
              {{else}}
              <a class="ui link image {{if eq $element.Type `pdf`}}crud-jquery-url{{else}}crud-popup-image{{end}}" data-url="{{$element.Params.URL}}?{{$composter}}">
                <img src="{{$element.Params.Path}}?{{$composter}}">
              </a>
              {{end}}
              <div class="content">
                {{if $element.LabelLong }}
                <div class="center aligned description"><b>{{$element.LabelLong}}</b></div>
                {{end}}
                {{if $element.Params.Form}}
              </div>
                <div class="ui bottom attached button crud-jquery-url"
                data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$element.Params.Form}}/{{$id}}">
                  <i class="edit icon"></i>
                  Mofifier l'image
                {{end}}
                {{else if (eq $element.Type "markdown")}}
                <div class="description">
                  <div class="meta">
                    <span>{{$element.LabelLong}}</span>
                  </div>
                </div>
                <div class="ui {{$element.Class}} message">
                  <pre>{{$val}}</pre>
                </div>
                {{else if (eq $element.Type "password")}}
                <div class="description">
                  <div class="meta">
                    <span>{{$element.LabelLong}}</span>
                  </div>
                </div>
                <div class="header">
                  <h4>***</h4>
                </div>
                {{else if (eq $element.Type "tag")}}
                <div class="description">
                  <div class="meta">
                    <span>{{$element.LabelLong}}</span>
                  </div>
                </div>
                {{$arr := CrudSplit $val ","}}
                {{range $i, $item := $arr}}
                <div class="ui small label">{{$item}}</div>
                {{end}}
                {{else if (eq $element.Type "textarea")}}
                <div class="description">
                  <div class="meta">
                    <span>{{$element.LabelLong}}</span>
                  </div>
                </div>
                <div class="ui {{$element.Class}} message">
                  <pre>{{$val}}</pre>
                </div>
                {{else}}
                <!-- Autres type -->
                <div class="description">
                  <div class="meta">
                    <span>{{$element.LabelLong}}</span>
                  </div>
                </div>
                <div class="header">
                  <span class="ui medium {{$element.Class}} text">
                    {{if $element.Format}}
                    {{CrudFormat $element.Format $val}}
                    {{else}}
                    {{$val}}
                    {{end}}
                  </span>
                </div>
                {{end}}
                <!-- end if type -->
                {{end}}
                <!-- end if Hide -->
                {{end}}
                <!-- end range $cols -->
              </div> <!-- end content card -->
            </div> <!-- end card -->
            {{end}}
            <!-- end range records -->
          </div>
        </div>
  </main>
  <!-- Demande de confirmation de la suppression -->
  <div id="crud-modal-confirm" class="ui modal">
    <div class="header">Suppression de {{$coldisplay}}</div>
    <div class="content">
      <p>Veuillez le confirmer</p>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div>
  <!-- Affichage d'une image en popup-->
  <div id="crud-modal-image" class="ui fullscreen modal">
    <div class="actions">
      <div class="ui cancel button">Fermer</div>
    </div>
    <div class="image content">
      <img id="crud-image" class="image center aligned" src="">
    </div>
  </div> <!-- end modal image -->
  <!-- Affichage d'un chart en popup-->
  <div id="crud-modal-chart" class="ui fullscreen modal">
    <div class="actions">
      <div class="ui cancel button">Fermer</div>
    </div>
    <div class="image content" id="crud-chart">
    </div>
  </div> <!-- end modal image -->

  <form action="/bee/delete/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formviewid}}/{{$id}}" method="POST">
    {{ .xsrfdata }}
  </form>
  {{template "_crud_foot.html" .}}
</body>

</html>