<!-- vusers.html -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$table := .Table}}
{{$tablekey := .Table.Key}}
{{$view := .View}}
{{$elements := .Elements}}
{{$cols := .Cols}}
{{$composter := .Composter}}
{{$qrecords := .Qrecords}}
{{$sortid := .SortID}}
{{$sortdirection := .SortDirection}}
{{$search := .Search}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/crud" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.AppViews}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $appView := $app.AppViews }}
          {{$t := index $portail.Tables $appView.Tableid }}
          {{$v := index $t.Views $appView.Viewid }}
          {{if (CrudIsInGroup $v.Group $session)}}
          <a class="item{{if and (eq $appView.Tableid $tableid) (eq $appView.Viewid $viewid)}} {{$theme}} active{{end}}{{if $v.HideOnMobile}} crud-mobile-hide{{end}}"
            href="/crud/list/{{$appid}}/{{$appView.Tableid}}/{{$appView.Viewid}}">
            <i class="{{$v.IconName}} icon"></i>
            {{$v.Title}}
          </a>
          {{end}}
          <!-- end if isingroup -->
          {{end}}
          <!-- end range appViewq-->
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          <a class="item" href="/crud/edit/users/users/vall/fprofil/{{.Session.Username}}">Mon profil</a>
          <a class="item" href="/crud/logout">Se déconnecter</a>
          <a href="/crud/about" class="item">À propos</a>
        </div>
      </div>
      <div class="header item" id="crud-header">
        <span class="crud-mobile-hide">
          {{$view.Title}}
          {{if (eq $qrecords 0)}}
          (auncun élément)
          {{else if (eq $qrecords 1)}}
          (1 élément)
          {{else}}
          ({{$qrecords}} éléments)
          {{end}}
        </span>
      </div>
      <!-- RIGHT MENU -->
      <div class="right menu">
        <div class="ui icon item">
          <i class="search link icon" id="crud-search-active" title="Rechercher..."></i>
          <!-- Recherche -->
          <div style="display: none" id="crud-search">
            <div class="ui icon input">
              <input type="text" id="search" data-url="/crud/list/{{$appid}}/{{$tableid}}/{{$viewid}}"
                value="{{$search}}" placeholder="Recherche...">
              <i class="circular search link icon" id="crud-search-go" title="Rechercher"></i>
            </div>
            <i class="close link icon" id="crud-search-close" title="Fermer recherche"></i>
          </div>
        </div>
        {{if or $view.Actions $view.FormAdd}}
        <div class="ui dropdown item">
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
            {{if $view.FormAdd}}
            <a class="ui icon item crud-jquery-url"
              data-url="/crud/add/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormAdd}}">
              <i class="plus square icon"></i> Ajouter un élément...
            </a>
            {{end}}
            {{if $view.Actions}}
            {{if $view.FormAdd}}
            <div class="divider"></div>
            {{end}}
            {{range $iaction, $action := $view.Actions}}
            <a class="item crud-jquery-action" data-confirm="{{$action.WithConfirm}}"
              data-url="/crud/actionv/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$iaction}}">{{str2html $action.Label}}</a>
            {{end}}
            <!-- end range actions-->
            {{end}}
            <!-- end if actions-->
          </div>
        </div>
        {{end}}
        <!-- end dropdown MENU à droite -->
      </div>
      <!-- end right menu -->
    </div>
  </div>
  <!-- MAIN -->
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      <!-- Title on Mobile -->
      <div class="crud-mobile-show ui label">
          {{$view.Title}}
          {{if (eq $qrecords 0)}}
          (auncun élément)
          {{else if (eq $qrecords 1)}}
          (1 élément)
          {{else}}
          ({{$qrecords}} éléments)
          {{end}}
      </div>
      <!-- LIST TABLE -->
      <table
        class="ui unstackable collapsing sortable {{if or $view.FormView $view.FormView}}selectable{{end}} celled table"
        data-role="table" data-mode="columntoggle">
        <thead>
          <!-- ENTETE TABLE -->
          <tr>
            {{ range $num, $key := $cols }}
            {{ $element := index $elements $key }}
            {{if (ne $element.Hide true)}}
            <th id="col_{{$key}}"
              class="ui {{$element.ColAlign}} aligned{{if $element.HideOnMobile}} crud-mobile-hide{{end}}{{if (eq $sortid $key)}} sorted {{$sortdirection}}{{end}} crud-ajax-sort"
              data-url="/crud/list/{{$appid}}/{{$tableid}}/{{$viewid}}">
              {{$element.LabelShort}}
            </th>
            {{end}}
            <!-- end if Hide -->
            {{end}}
            <!-- end loop $cols -->
          </tr>
        </thead>
        <tbody id="bee-table">
          <!-- LOOP $RECORD -->
          {{ range $irecord, $record := .Records }}
          <tr id="{{CrudIndexAnchor $record $tablekey}}" {{if or $view.FormView $view.FormView}}
            class="crud-jquery-url {{CrudMacroSQL $view.ClassSQL $record $session}}"
            data-url="/crud/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}" {{else}}
            class="{{CrudMacroSQL $view.ClassSQL $record $session}}" {{end}}>
            {{ range $num, $key := $cols }}
            {{ $element := index $elements $key }}
            {{ $val := CrudIndexSQL $record $key $element $session}}
            {{if (ne $element.Hide true)}}
            <td
              class="ui {{$element.ColAlign}} aligned{{if $element.HideOnMobile}} crud-mobile-hide{{end}} {{CrudMacroSQL $element.ClassSQL $record $session}}">
              {{if (eq $element.Type "combobox")}}
              <!-- combobox -->
              {{CrudItem $element.Items $val}} ({{$val}})
              {{else if (eq $element.Type "checkbox")}}
              <!-- checkbox -->
              {{if (eq $val "1")}}<i class="check icon"></i>{{end}}
              {{else if (eq $element.Type "password")}}
              <!-- password -->
              ***
              {{else if (eq $element.Type "tag")}}
              <!--   tag -->
              {{$arr := CrudSplit $val ","}}
              {{range $i, $item := $arr}}
              <div c lass="ui small label">{{$item}}</div>
              {{end}}
              {{else}}
              <!-- autres -->
              {{if and $element.Format $val}}
              {{CrudFormat $element.Format $val}}
              {{else}}
              {{$val}}
              {{end}}
              {{end}}
            </td>
            {{end}}
            <!-- end if Hide -->
            {{end}}
            <!-- end loop $cols -->
          </tr>
          {{end}}
          <!-- fin loop $records -->
        </tbody>
      </table>
    </div>
  </main>
  <!-- Demande de confirmation de l'action' -->
  <div id="crud-modal-confirm" class="ui modal">
    <div class="header" id="crud-action">Texte à venir</div>
    <div class="content">
      <p>Veuillez le confirmer</p>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div> <!-- end modal confirm -->
  <!-- Affichage d'une image en popup-->
  <div id="crud-modal-image" class="ui basic modal">
    <div class="actions">
      <div class="ui cancel button">Fermer</div>
    </div>
    <div class="image content">
      <img id="crud-image" class="image center aligned" src="">
    </div>
  </div> <!-- end modal image -->

  <form method="POST" action="/crud/list/{{$appid}}/{{$tableid}}/{{$viewid}}">
    {{ .xsrfdata }}
    <input type="hidden" id="crud-form-search" name="search">
    <input type="hidden" id="crud-form-searchstop" name="searchstop">
    <input type="hidden" id="crud-form-sortid" name="sortid">
    <input type="hidden" id="crud-form-sortdirection" name="sortdirection">
  </form>
  <!-- CONTEXTE -->
  <input type="hidden" id="crud_view" value="{{$appid}}-{{$tableid}}-{{$viewid}}">
  {{template "_crud_foot.html" .}}
</body>

</html>