<!-- vusers.html -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$table := .Table}}
{{$tablekey := .Table.Key}}
{{$view := .View}}
{{$elements := .Elements}}
{{$cols := .Cols}}
{{$composter := .Composter}}
{{$qrecords := .Qrecords}}
{{$search := .Search}}
{{$datadir := .datadir}}
{{$dataurl := .DataUrl}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/bee" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.AppViews}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $appView := $app.AppViews }}
          {{$t := index $portail.Tables $appView.Tableid }}
          {{$v := index $t.Views $appView.Viewid }}
          {{if (CrudIsInGroup $v.Group $session)}}
          <a class="item{{if and (eq $appView.Tableid $tableid) (eq $appView.Viewid $viewid)}} {{$theme}} active{{end}}"
            href="/bee/list/{{$appid}}/{{$appView.Tableid}}/{{$appView.Viewid}}">
            <i class="{{$v.IconName}} icon"></i>
            {{$v.Title}}
          </a>
          {{end}}
          <!-- end if isingroup -->
          {{end}}
          <!-- end range appViewq-->
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          <a class="item" href="/bee/edit/admin/users/vall/fprofil/{{.Session.Username}}">Mon profil</a>
          <a class="item" href="/bee/logout">Se déconnecter</a>
          <a href="/bee/about" class="item">À propos</a>
        </div>
      </div>
      <div class="header item" id="crud-header">
        <span class="crud-mobile-hide">
          {{$view.Title}}
          {{if (eq $qrecords 0)}}
          (auncun élément)
          {{else if (eq $qrecords 1)}}
          (1 élément)
          {{else}}
          ({{$qrecords}} éléments)
          {{end}}
        </span>
      </div>
      <!-- RIGHT MENU -->
      <div class="right menu">
        <div class="ui icon item">
          <i class="search link icon" id="crud-search-active" title="Rechercher..."></i>
          <!-- Recherche -->
          <div style="display: none" id="crud-search">
            <div class="ui icon input">
              <input type="text" id="search" data-url="/bee/list/{{$appid}}/{{$tableid}}/{{$viewid}}"
                value="{{$search}}" placeholder="Recherche...">
              <i class="circular search link icon" id="crud-search-go" title="Rechercher"></i>
            </div>
            <i class="close link icon" id="crud-search-close" title="Fermer recherche"></i>
          </div>
        </div>
        {{if or $view.Actions $view.FormAdd}}
        <div class="ui dropdown item">
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
          {{if $view.FormAdd}}
            <a class="ui icon item crud-jquery-url"
              data-url="/bee/add/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormAdd}}">
              <i class="plus square icon"></i> Ajouter un élément...
            </a>
          {{end}}
          {{if $view.Actions}}
            {{if $view.FormAdd}}
              <div class="divider"></div>
            {{end}}
            {{range $iaction, $action := $view.Actions}}
            <a class="item crud-jquery-action" data-confirm="{{$action.WithConfirm}}"
              data-url="/bee/actionv/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$iaction}}">
              {{if $action.Checkbox.GetSQL}}
              <div class="ui toggle checkbox">
                <input type="checkbox" {{if (eq (CrudSQL $action.Checkbox.GetSQL $action.Checkbox.AliasDB) `1`)}}
                  checked="checked" {{end}}>
                <label>{{$action.Label}}</label>
              </div>
              {{else}}
                {{str2html $action.Label}}
              {{end}}
            </a>
            {{end}}
            <!-- end range actions-->
          {{end}}
            <!-- end if actions-->
          </div>
        </div>
        {{end}}
        <!-- end if action formadd -->
      </div>
      <!-- end right menu -->
    </div>
  </div>
  <!-- MAIN -->
  <main>
    <div class="ui container crud-searchable">
      {{template "_crud_flash.html" .}}
      <!-- Title on Mobile -->
      <div class="crud-mobile-show ui label">
        {{$view.Title}}
        {{if (eq $qrecords 0)}}
        (auncun élément)
        {{else if (eq $qrecords 1)}}
        (1 élément)
        {{else}}
        ({{$qrecords}} éléments)
        {{end}}
      </div>
      <div class="ui large divided list">
        <!-- ITEMS -->
      {{ $currentLevel := "0"}}
      {{ $anchor := ""}}
      {{ range $irecord, $record := .Records }}
      <!-- lecture des champs -->
      {{ $id := index $record "id" }}
      {{ $isdir := index $record "isdir" }}
      {{ $level := index $record "level" }}
      {{ $path := index $record "path" }}
      {{ $dir := index $record "dir" }}
      {{ $base := index $record "base" }}
      {{ $ext := index $record "ext" }}
      {{ $title := index $record "title" }}
      {{ $draft := index $record "draft" }}
      {{ $date := index $record "date" }}
      {{ $tags := index $record "tags" }}
      {{ $categories := index $record "categories" }}

{{ if lt $level $currentLevel}}
    </div> <!-- /content-->
  </div> <!-- /item-->
</div> <!-- /list-->
  {{ $currentLevel = CrudDecrement $currentLevel }}
{{end}}
{{ if lt $level $currentLevel}}
    </div> <!-- /content-->
  </div> <!-- /item-->
</div> <!-- /list-->
  {{ $currentLevel = CrudDecrement $currentLevel }}
{{end}}
{{ if lt $level $currentLevel}}
      </div> <!-- /content-->
    </div> <!-- /item-->
  </div> <!-- /list-->
  {{ $currentLevel = CrudDecrement $currentLevel }}
{{ end }}
{{ if eq $isdir "1" }}
  {{if eq $level `1`}}{{$anchor = CrudIndexAnchor $record $tablekey}}{{end}}
  {{ if eq $level $currentLevel}}
  {{ if gt $currentLevel "0"}}
    </div><!-- /content -->
    </div><!-- /item-->
  {{end}}
      <div class="item">
      <i class="folder outline large {{$theme}} icon link crud-collapse {{if eq $level `1`}}{{$anchor}}{{end}}"></i>
        <div class="content">
          <a class="header crud-jquery-url" {{if or $view.FormView $view.Deletable}}
          data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}"
          {{else if and $view.FormEdit}}
          data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{index $record $tablekey}}"
          {{end}}>{{$base}}</a>
  {{ else if gt $level $currentLevel }}
            {{if gt $level `1`}}<div class="list"{{if eq $search ``}} style="display: none;"{{end}}>{{end}}
              <div class="item">
                <i class="folder outline large {{$theme}} icon link crud-collapse {{if eq $level `1`}}{{$anchor}}{{end}}"></i>
                <div class="content">
                  <a class="header crud-jquery-url" {{if or $view.FormView $view.Deletable}}
                  data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}"
                  {{else if and $view.FormEdit}}
                  data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{index $record $tablekey}}"
                  {{end}}>{{$base}}</a>
  {{ end }}
{{ else }}
    <!-- document -->
    {{ if or (eq $ext ".png") (eq $ext ".jpg") (eq $ext ".svg")}}
    <a class="ui compact message crud-jquery-url"{{if eq $search ``}} style="display: none;"{{end}}
    {{if or $view.FormView $view.Deletable}}
        data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}"
        {{else if and $view.FormEdit}}
        data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{index $record $tablekey}}"
        {{end}}
        ><i class="image outline blue large icon"></i>{{$base}}</a>
    {{ else if (eq $ext ".pdf")}}
    <a class="ui compact message crud-jquery-url"{{if eq $search ``}} style="display: none;"{{end}}
    {{if or $view.FormView $view.Deletable}}
        data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}"
        {{else if and $view.FormEdit}}
        data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{index $record $tablekey}}"
        {{end}}>
        <i class="file pdf outline red large icon"></i>{{$base}}</a>
    {{else}}
      <a id="{{$anchor}}" class="ui compact message crud-jquery-url"{{if eq $search ``}} style="display: none;"{{end}}
      {{if or $view.FormView $view.Deletable}}
        data-url="/bee/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}"
        {{else if and $view.FormEdit}}
        data-url="/bee/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$view.FormEdit}}/{{index $record $tablekey}}"
        {{end}}
      >
        <i class="file alternate outline green large icon"></i>
        <span class="ui medium grey text">{{$base}}</span> <span class="ui purple text">[{{$title}}]</span>
        {{$arr := CrudSplit $tags ","}}
        {{range $i, $item := $arr}}
          <div class="ui green label"><b>#{{$item}}</b></div>
        {{end}}
        {{$arr := CrudSplit $categories ","}}
        {{range $i, $item := $arr}}
          <div class="ui tag brown label"><b>{{$item}}</b></div>
        {{end}}
        {{if (eq $draft "1") }}
        <div class="ui red label"><i class="check square icon"></i>Brouillon</div>
        {{end}}
      </a>
    {{end}}
{{ end }}
    <!-- / isdir-->
  {{ $currentLevel = $level }}
{{end}}
    <!-- end range $records -->
{{ if ne $currentLevel "1"}}
  </div> <!-- /content-->
</div> <!-- /item-->
</div> <!-- /list-->
{{end}}
{{ $currentLevel = CrudDecrement $currentLevel }}
{{ if ne $currentLevel "1"}}
  </div> <!-- /content-->
</div> <!-- /item-->
</div> <!-- /list-->
{{end }}
</div> <!-- end container-->
  </main>
  <!-- Demande de confirmation de l'action' -->
  <div id="crud-modal-confirm" class="ui modal">
    <div class="header" id="crud-action">Texte à venir</div>
    <div class="content">
      <p>Veuillez le confirmer</p>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div> <!-- end modal confirm -->
  <!-- Affichage d'une image en popup-->
  <div id="crud-modal-image" class="ui basic modal">
    <div class="actions">
      <div class="ui cancel button">Fermer</div>
    </div>
    <div class="image content">
      <img id="crud-image" class="image center aligned" src="">
    </div>
  </div> <!-- end modal image -->

  <form method="POST" action="/bee/list/{{$appid}}/{{$tableid}}/{{$viewid}}">
    {{ .xsrfdata }}
    <input type="hidden" id="crud-form-search" name="search">
    <input type="hidden" id="crud-form-searchstop" name="searchstop">
    <input type="hidden" id="crud-form-sortid" name="sortid">
    <input type="hidden" id="crud-form-sortdirection" name="sortdirection">
  </form>
  <!-- CONTEXTE -->
  <input type="hidden" id="crud_view" value="{{$appid}}-{{$tableid}}-{{$viewid}}">

  {{template "_crud_foot.html" .}}
</body>

</html>