<!-- login.html -->
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}
<style type="text/css">
  body>.grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }

  .column {
    max-width: 450px;
  }
</style>

<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui {{.Config.Theme}} image header">
        <img src="{{.Config.Icone}}" class="medium image">
        <div class="content">
          {{.Title}}
        </div>
      </h2>
      <form class="ui large form" action="/crud/login" method="POST">
        {{ .xsrfdata }}
        <input type="hidden" name="from" value="{{.From}}">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          {{if .flash.error}}
          <div class="ui visible error message">
            <div class="header">
              {{.flash.error}}
            </div>
          </div>
          {{end}}
          <button class="ui fluid large {{.Config.Theme}} submit button" type="submit">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
  {{template "_crud_foot.html" .}}
</body>

</html>