<!-- vusers.html -->
{{$from := .From}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$formid := .FormId}}
{{$id := .Id}}
{{$table := .Table}}
{{$view := .View}}
{{$form := .Form}}
{{$tablekey := .Table.Key}}
{{$coldisplay := .ColDisplay}}
{{$elements := .Elements}}
{{$cols := .Cols}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed menu navbar">
      <!-- LEFT MENU -->
      <div class="ui dropdown item">
        <div class="ui mini image">
          <img src="{{$app.Image}}">
        </div>
        <div class="menu">
          <a href="/crud" class="item"><i class="home icon"></i> Page d'accueil</a>
          {{if $app.AppViews}}
          <div class="divider"></div>
          {{end}}
          {{ range $iv, $appView := $app.AppViews }}
          {{$t := index $portail.Tables $appView.Tableid }}
          {{$v := index $t.Views $appView.Viewid }}
          <a class="item{{if and (eq $appView.Tableid $tableid) (eq $appView.Viewid $viewid)}} {{$theme}} active{{end}}"
            href="/crud/list/{{$appid}}/{{$appView.Tableid}}/{{$appView.Viewid}}">
            <i class="{{$v.IconName}} icon"></i>
            {{$v.Title}}
          </a>
          {{end}}
          <!-- end range appViewq-->
          <div class="divider"></div>
          <div class="header">
            <i class="user icon"></i>
            {{.Session.Username}}
          </div>
          <a class="item" href="/crud/logout">Se déconnecter</a>
          <a href="/crud/about" class="item">À propos</a>
        </div>
      </div>
      <a href="{{$from}}" class="item" style="padding: 0.5em;">
        <i class="arrow left icon"></i>
      </a>
      <!-- RIGHT MENU -->
      <div class="right menu">
        <div class="item">
          <button class="ui labeled icon button crud-jquery-submit">
            <i class="check icon"></i>
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      <!-- FORMULAIRE -->
      <div class="ui attached message">
        <div class="header">
          {{$form.Title}}: {{$coldisplay}}
        </div>
      </div>
      {{if (eq $id "")}}
      <!-- Formulaire d'Ajout ou d'Edition -->
      <form class="ui form attached segment" id="beeForm" method="POST"
        action="/crud/add/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}">
        {{else}}
        <form class="ui form attached segment" id="beeForm" method="POST"
          action="/crud/edit/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formid}}/{{$id}}">
          {{end}}
          {{ .xsrfdata }}
          {{ range $irecord, $record := .Records }}
          {{ range $num, $key := $cols }}
          {{ $val := CrudIndex $record $key }}
          {{ $element := index $elements $key }}
          <div class="ui form">
            {{if (eq $element.Type "amount")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <input type="text" pattern="\$\d{1,3}(,\d{3})*(\.\d+)?$" name="{{$key}}" id="{{$key}}"
                {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
            </div>
            {{else if (eq $element.Type "combo")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <select name="{{$key}}" id="{{$key}}" class="ui fluid search dropdown">
                <option value="">{{$element.PlaceHolder}}</option>
                {{range $num, $item := $element.Items}}
                <option value="{{$item.Key}}" {{if (eq $item.Key $val)}} selected="" {{end}}>
                  {{$item.Label}} ({{$item.Key}})</option>
                {{end}}
              </select>
            </div>
            {{else if (eq $element.Type "counter")}}
            <div class="disabled field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <input type="number" name="{{$key}}" id="{{$key}}"
                {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
            </div>
            {{else if (eq $element.Type "checkbox")}}
            <div
              class="inline {{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <div class="ui checkbox">
                <input type="checkbox" name="{{$key}}" id="{{$key}}" {{if(eq $val `1`)}} checked{{end}}>
                <label>{{$element.LabelLong}}</label>
              </div>
            </div>
            {{else if (eq $element.Type "datetime")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <div class="ui calendar" id="standard_calendar">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" name="{{$key}}" id="{{$key}}"
                    {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
                </div>
              </div>
            </div>
            {{else if (eq $element.Type "float")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <input type="number" step="any" name="{{$key}}" id="{{$key}}"
                {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
            </div>
            {{else if (eq $element.Type "radio")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}inline fields {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              {{ $items := CrudSplit $element.Items ","}}
              {{range $num, $item := $items}}
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="{{$key}}" value="{{$item}}" {{if (eq $val $item)}}checked="checked" {{end}}>
                  <label>{{$item}}</label>
                </div>
              </div>
              {{end}}
            </div>
            {{else if (eq $element.Type "tag")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <select name="{{$key}}" id="{{$key}}" multiple="" class="ui fluid dropdown">
                <option value="">{{$element.PlaceHolder}}</option>
                {{range $num, $item := $element.Items}}
                <option value="{{$item.Key}}" {{if CrudContains $val $item.Key}} selected="" {{end}}>{{$item.Label}}
                </option>
                {{end}}
              </select>
            </div>
            {{else if (eq $element.Type "textarea")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <textarea name="{{$key}}" id="{{$key}}">{{$val}}</textarea>
            </div>
            {{else if (eq $element.Type "password")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <input type="{{$element.Type}}" name="{{$key}}" id="{{$key}}"
                {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="***">
            </div>
            {{else if (eq $element.Type "percent")}}
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <input type="number" step="any" name="{{$key}}" id="{{$key}}"
                {{if $element.PlaceHolder}}placeholder="{{$element.PlaceHolder}}" {{end}} value="{{$val}}">
            </div>
            {{else}}
            <!-- date email month number tel text time url week -->
            <div
              class="{{if(eq $element.Protected true)}}disabled {{end}}{{if(eq $element.ReadOnly true)}}disabled {{end}}{{if(eq $element.Required true)}}required {{end}}field {{$element.Error}}">
              <label>{{$element.LabelLong}}</label>
              <input type="{{$element.Type}}" name="{{$key}}" id="{{$key}}" {{if $element.PlaceHolder}}
                placeholder="{{$element.PlaceHolder}}" {{end}}{{if $element.Pattern}} pattern="{{$element.Pattern}}"
                {{end}} value="{{$val}}">
            </div>
            {{end}}
            <!-- end if element.Type -->
            {{end}}
            <!-- end range cols -->
            {{end}}
            <!-- end range records -->
          </div> <!-- end ui form -->
        </form>

    </div> <!-- /container -->
  </main>
  {{template "_crud_foot.html" .}}
</body>

</html>