<!-- vusers.html -->
{{$session := .Session}}
{{$appid := .AppId}}
{{$portail := .Portail}}
{{$app := .Application}}
{{$theme := .Config.Theme}}
{{$tableid := .TableId}}
{{$viewid := .ViewId}}
{{$formaddid := .FormAddId}}
{{$table := .Table}}
{{$tablekey := .Table.Key}}
{{$view := .View}}
{{$elements := .Elements}}
{{$cols := .Cols}}
<!DOCTYPE html>
<html>
{{template "_crud_head.html" .}}

<body>
  <!-- NAVBAR -->
  <div class="ui container">
    <div class="ui {{.Config.Theme}} inverted large fixed menu navbar">
      <div class="item">
        <a class="ui mini image" href="/crud">
          <img src="{{$app.Image}}">
        </a>
      </div>
      <div class="header item">{{$app.Title}}</div>
      <div class="right menu">
        <div class="ui icon item">
          <i class="search link icon" id="crud-search-active" title="Rechercher..."></i>
        </div>
        <a class="ui icon item crud-jquery-url" data-url="/crud/add/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$formaddid}}"
          title="Ajouter un article...">
          <i class="plus square icon"></i>
        </a>
        {{if $view.ActionsSQL}}
        <div class="ui dropdown item">
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
            {{range $iaction, $action := $view.ActionsSQL}}
            <a class="item crud-jquery-action" data-confirm="{{$action.WithConfirm}}"
              data-url="/crud/action/{{$appid}}/{{$tableid}}/{{$viewid}}/{{$iaction}}">{{str2html $action.Label}}</a>
            {{end}}
          </div>
        </div>
        {{end}}
        <!-- end ActionSQL -->
      </div>
    </div>
  </div>
  </div>
  <!-- MAIN -->
  <main>
    <div class="ui container">
      {{template "_crud_flash.html" .}}
      {{$lenAppViews := len $app.AppViews }}
      {{if (gt $lenAppViews 1)}}
      <div class="ui pointing compact menu">
        {{ range $iv, $appView := $app.AppViews }}
        {{$t := index $portail.Tables $appView.Tableid }}
        {{$v := index $t.Views $appView.Viewid }}
        <a class="item{{if and (eq $appView.Tableid $tableid) (eq $appView.Viewid $viewid)}} active{{end}}"
          href="/crud/list/{{$appid}}/{{$appView.Tableid}}/{{$appView.Viewid}}">
          <i class="{{$v.IconName}} icon"></i>
          {{$v.Title}}
        </a>
        {{end}}
        <!-- end range appViewq-->
        <!-- Recherche -->
        <div class="ui search item" style="display: none" id="crud-search">
          <div class="ui transparent icon input">
            <input type="text" id="crud-search-input" placeholder="Recherche...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      {{else}}
      <!-- Recherche -->
      <div style="display: none" id="crud-search">
        <div class="ui icon input">
          <input type="text" id="crud-search-input" placeholder="Recherche...">
          <i class="search icon"></i>
        </div>
      </div>
      {{end}}
      <!-- end if menu -->
      <!-- LIST TABLE -->
      <table class="ui unstackable collapsing sortable selectable celled table" data-role="table"
        data-mode="columntoggle">
        <thead>
          <!-- ENTETE TABLE -->
          <tr>
            {{ range $num, $key := $cols }}
            {{ $element := index $elements $key }}
            {{if (ne $element.Hide true)}}
            <th class="ui {{$element.ColAlign}} aligned{{if (eq $element.HideOnMobile true)}} bee-mobile-hide{{end}}">
              {{$element.LabelShort}}
            </th>
            {{end}}
            <!-- end if Hide -->
            {{end}}
            <!-- end loop $cols -->
          </tr>
        </thead>
        <tbody id="bee-table">
          <!-- LOOP $RECORD -->
          {{ range $irecord, $record := .Records }}
          <tr class="crud-jquery-url {{CrudMacroSQL $view.ClassSQL $record $session $app}}"
            data-url="/crud/view/{{$appid}}/{{$tableid}}/{{$viewid}}/{{index $record $tablekey}}">
            {{ range $num, $key := $cols }}
            {{ $element := index $elements $key }}
            {{ $val := CrudIndex $record $key $element $session $app}}
            {{if (ne $element.Hide true)}}
            <td class="ui {{$element.ColAlign}} aligned{{if (eq $element.HideOnMobile true)}} bee-mobile-hide{{end}} {{$element.Class}}">
              {{if (eq $element.Type "combo")}}
                <!-- combo -->
                {{CrudItem $element.Items $val}} ({{$val}})
              {{else if (eq $element.Type "checkbox")}}
                <!-- checkbox -->
                {{if (eq $val "1")}}<i class="check icon"></i>{{end}}
                {{else if (eq $element.Type "password")}}
                <!-- password -->
                ***
              {{else if (eq $element.Type "tag")}}
                <!--   tag -->
                {{$arr := CrudSplit $val ","}}
                {{range $i, $item := $arr}}
                <div c  lass="ui small label">{{$item}}</div>
                {{end}}
              {{else}}
                <!-- autres -->
                {{if and $element.Format $val}}
                  {{CrudFormat $element.Format $val}}
                {{else}}
                  {{$val}}
                {{end}}
              {{end}}
            </td>
            {{end}}
            <!-- end if Hide -->
            {{end}}
            <!-- end loop $cols -->
          </tr>
          {{end}}
          <!-- fin loop $records -->
        </tbody>
      </table>
    </div>
  </main>
  <!-- Demande de confirmation de l'action' -->
  <div class="ui modal">
    <div class="header" id="crud-action">Texte à venir</div>
    <div class="content">
      <p>Veuillez le confirmer</p>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div> <!-- Action-->
  <form action="" method="POST">
    {{ .xsrfdata }}
  </form>

  {{template "_crud_foot.html" .}}
</body>

</html>